<nav class="header-menu">
  <a href="<%= links.project.path %>"><%= links.project.name %></a>
  <a href="<%= links.about.path %>"><%= links.about.name %></a>
  <a href="<%= links.shop.path %>"><%= links.shop.name %></a>
</nav>
